<nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <i class="bi bi-droplet-fill"></i> Environmental Hydrogeology Research Group
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Apri menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" data-nav="index.html" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" data-nav="team.html" href="team.html">Team</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-nav="education.html" href="education.html" id="navbarDropdownEducation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Education
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownEducation">
                        <li><a class="dropdown-item" href="education.html#teaching">Teaching</a></li>
                        <li><a class="dropdown-item" href="education.html#phdThesis">PhD Thesis</a></li>
                        <li><a class="dropdown-item" href="education.html#masterThesis">Master Thesis</a></li>
                        <li><a class="dropdown-item" href="education.html#bachelorThesis">Bachelor Thesis</a></li>
                        <li><a class="dropdown-item" href="education.html#courses">Courses</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" data-nav="pubblicazioni.html" href="pubblicazioni.html">Publications</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-nav="progetti.html" href="progetti.html" id="navbarDropdownProjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProjects">
                        <li><a class="dropdown-item" href="progetti.html#attivi">Active</a></li>
                        <li><a class="dropdown-item" href="progetti.html#conclusi">Concluded</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" data-nav="fieldkit.html" href="fieldkit.html">Field Tools</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#contatti">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
